In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('DJI.csv')

In [4]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-06-29,24323.929688,24509.519531,24269.710938,24271.410156,24271.410156,329070000
1,2018-07-02,24161.529297,24319.419922,24077.560547,24307.179688,24307.179688,244110000
2,2018-07-03,24359.390625,24444.880859,24150.849609,24174.820313,24174.820313,160960000
3,2018-07-05,24285.820313,24372.800781,24177.439453,24356.740234,24356.740234,237670000
4,2018-07-06,24352.470703,24520.289063,24281.470703,24456.480469,24456.480469,219450000
5,2018-07-09,24519.199219,24796.519531,24518.429688,24776.589844,24776.589844,240580000
6,2018-07-10,24806.970703,24945.380859,24806.970703,24919.660156,24919.660156,235040000
7,2018-07-11,24789.480469,24815.160156,24663.820313,24700.449219,24700.449219,237370000
8,2018-07-12,24802.900391,24939.970703,24802.900391,24924.890625,24924.890625,233150000
9,2018-07-13,24926.070313,25043.210938,24890.060547,25019.410156,25019.410156,255520000
10,2018-07-16,25025.580078,25072.410156,24979.640625,25064.359375,25064.359375,231270000
11,2018-07-17,25033.919922,25155.390625,24989.609375,25119.890625,25119.890625,250450000
12,2018-07-18,25133.789063,25215.320313,25101.119141,25199.289063,25199.289063,252870000
13,2018-07-19,25139.150391,25154.169922,25052.619141,25064.500000,25064.500000,285760000
14,2018-07-20,25041.140625,25124.099609,24986.349609,25058.119141,25058.119141,274080000
15,2018-07-23,25036.900391,25081.449219,24983.330078,25044.289063,25044.289063,228820000
16,2018-07-24,25092.429688,25286.619141,25092.429688,25241.939453,25241.939453,274940000
17,2018-07-25,25183.699219,25432.869141,25113.550781,25414.099609,25414.099609,273670000
18,2018-07-26,25468.550781,25587.240234,25463.160156,25527.070313,25527.070313,297530000
19,2018-07-27,25520.519531,25580.220703,25370.070313,25451.060547,25451.060547,329680000